@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: rgb(226 232 240);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: rgb(30 41 59);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: rgb(226 232 240);
    }
}

body {
    background-color: var(--bg);
}